<div class="employee-container">
  <div class="employee-header">
    <h2>Employee <span>Details</span></h2>
  </div>

  <div class="toolbar">
    <input
      type="text"
      placeholder="Search Employees..."
      [(ngModel)]="searchTerm"
      (ngModelChange)="employeeStore.setSearchTerm(searchTerm)"
    />
    <button class="add-btn" (click)="openForm()">➕ Add New</button>
  </div>
  <div *ngIf="employeeStore.isLoading()">Loading employees</div>
  <table class="employee-table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Department</th>
        <th>Phone</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeeStore.employeesFilterAndPaginated()">
        <td>{{ emp.name }}</td>
        <td>{{ emp.department }}</td>
        <td>{{ emp.mobile }}</td>
        <td>
          <i class="fas fa-pencil-alt edit" (click)="openForm(emp)"></i>
          <i class="fas fa-trash delete" (click)="openForm(emp)"></i>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="pagination">
    <button
      (click)="employeeStore.setPage(employeeStore.currentPage() - 1)"
      [disabled]="employeeStore.currentPage() === 1"
    >
      Previous
    </button>
    <span
      >{{ employeeStore.currentPage() }} of
      {{ employeeStore.totalPages() }}</span
    >
    <button
      (click)="employeeStore.setPage(employeeStore.currentPage() + 1)"
      [disabled]="employeeStore.currentPage() === employeeStore.totalPages()"
    >
      Next
    </button>
    <select
      [(ngModel)]="pageSize"
      (ngModelChange)="employeeStore.setPageSize(pageSize)"
    >
      <option *ngFor="let size of pageSizeOptions" [ngValue]="size">
        {{ size }} per page
      </option>
    </select>
  </div>
  <ng-container #container></ng-container>
</div>
