<div class="form-container">
  <h2>{{ activeForm === "Signup" ? "Signup" : "Login" }}</h2>

  <div class="toggle-btns">
    <button
      [ngClass]="activeForm === 'Login' ? 'active' : ''"
      (click)="changeView('Login')"
    >
      Login
    </button>
    <button
      [ngClass]="activeForm === 'Signup' ? 'active' : ''"
      (click)="changeView('Signup')"
    >
      Signup
    </button>
  </div>

  <form *ngIf="activeForm === 'Signup'" #form="ngForm">
    <input
      type="text"
      placeholder="Name"
      name="fullName"
      [(ngModel)]="registerObj.fullName"
      required
      #name="ngModel"
    />
    <div class="validation-message">
      @if(name.touched && name.errors?.['required']) {
      <span>This is required</span>
      }
    </div>
    <input
      type="email"
      #email="ngModel"
      placeholder="Email Address"
      name="email"
      [(ngModel)]="registerObj.emailId"
      required
    />
    <div class="validation-message">
      @if(email.touched && email.errors?.['required']) {
      <span>This is required</span>
      }
    </div>
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="registerObj.password"
      required
      #password="ngModel"
    />
    <div class="validation-message">
      @if(password.touched && password.errors?.['required']) {
      <span>This is required</span>
      }
    </div>
    <button
      type="button"
      (click)="onRegister()"
      class="submit-btn"
      [disabled]="form.invalid"
      [ngClass]="form.invalid ? 'disabled' : ''"
    >
      Signup
    </button>
  </form>

  <form *ngIf="activeForm === 'Login'" #form="ngForm">
    <input
      type="text"
      placeholder="Username or Email"
      name="emailId"
      [(ngModel)]="loginObj.emailId"
      required
      #emailId="ngModel"
    />
    <input
      type="password"
      placeholder="Password"
      name="password"
      [(ngModel)]="loginObj.password"
      required
      #password="ngModel"
    />
    <button
      type="button"
      class="submit-btn"
      (click)="onLogin()"
      [disabled]="form.invalid"
      [ngClass]="form.invalid ? 'disabled' : ''"
    >
      Login
    </button>
  </form>
</div>
